<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Project Wing</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Sumukh Sridhara">

		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le styles -->
		<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="/static/assets/css/jigowatt.min.css" rel="stylesheet">
		<link href="/static/assets/css/goalhawkcustom.css" rel="stylesheet">
		  <script src="http://code.jquery.com/jquery-latest.js"></script>

  <script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>

  <script type="text/javascript">

    var apiKey = '14487352';
    var sessionId = '{{sessionId}}' 
    var token = 'devtoken';           
     
    TB.setLogLevel(TB.DEBUG);     
 
    var session = TB.initSession(sessionId);      
    session.addEventListener('sessionConnected', sessionConnectedHandler);
    session.addEventListener('streamCreated', streamCreatedHandler);      
    session.connect(apiKey, token);
 
    var publisher;
     var publisher2;

    function sessionConnectedHandler(event) {
      publisher = session.publish('myPublisherDiv');

      // Subscribe to streams that were in the session when we connected
      subscribeToStreams(event.streams);
    }
     
    function streamCreatedHandler(event) {
      // Subscribe to any new streams that are created

      subscribeToStreams(event.streams);
    }
     					

function publisherResizeHandler(event) {
    newWidth = event.widthTo;
    newHeight = event.heightTo;
    // Modify the UI based on the new dimensions of the publisher 
}

    function subscribeToStreams(streams) {
      for (var i = 0; i < streams.length; i++) {
        // Make sure we don't subscribe to ourself
        if (streams[i].connection.connectionId == session.connection.connectionId) {
          return;
        }
 
        // Create the div to put the subscriber element in to
        var div = document.createElement('div');
        div.setAttribute('id', 'stream' + streams[i].streamId);
		console.log( document.getElementById('test2') );
	//	document.getElementById("test2")[0].appendChild('div'); //append new div to another 
	//	$('/home/test2').append('div');
		var pele = document.getElementById("test2");
		pele.appendChild(div);



        // Subscribe to the stream
        session.subscribe(streams[i], div.id);

      }

var div = document.createElement('div');
div.setAttribute('id', 'publisher');
var publisherContainer = document.getElementById('publisherContainer');
publisherContainer.appendChild(div);
publisher = session.publish('publisher');
					
publisher.addEventListener("resize", publisherResizeHandler);

function publisherResizeHandler(event) {
    newWidth = event.widthTo;
    newHeight = event.heightTo;
    // Modify the UI based on the new dimensions of the publisher 
}

    }
  </script>
<script type="text/javascript">
function changeText(txt){
    document.getElementById('freetitle').innerHTML = txt;
}
</script>


				<!--  <link rel="shortcut icon" href="favicon.ico">  -->
	</head>

	<body>
	

<!-- Navigation
================================================== -->

	<div class="navbar navbar-fixed-top">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container-fluid">

				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				<a class="brand" href="home.php">
			<logo>Project Wing</logo>	<!-- <img src="/static/assets/i/ghlogo.png" width="90"> --> 				
				</a>
				
						<div class="nav-collapse">
					<ul class="nav" id="findme">
						<li><a href="/home/">Home</a></li>
						<li><a href="/home/">Classes</a></li>
						<li><a href="/home/">About</a></li>

						<li><a href="/home/">Blog</a></li>
					</ul>
		<ul class="nav  pull-right">
			<li><a href="/home/" class="signup-link"><strong>You are studying! </strong> &raquo; </a></li> <li><a data-toggle="modal" class="signup-link" href="#myModal" ><strong> Invite</strong> your friends</a>
</li>

		</ul>
				</div>
				</div>
			</div><!-- /navbar-inner -->
		</div><!-- /navbar -->
	</div><!-- /navbar-wrapper -->

<!-- Main content================================================== -->
          <div id="myModal" class="modal hide fade">
            <div class="modal-header">
              <a class="close" data-dismiss="modal" >&times;</a>
              <h3>Share this link</h3>
            </div>
            <div class="modal-body">
              <h4>Paste this link to a friend so they can join you!</h4>
              </br>
              <p>http://169.229.99.129:1338/app/{{name}}</p>
              </br>

            </div>
            <div class="modal-footer">
              <a href="/home/" class="btn" data-dismiss="modal" >Close</a>
                        <a href="/home/" class="btn btn-primary" data-dismiss="modal" >Share</a>

            </div>
          </div>


<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">

          <div class="well sidebar-nav">

            <ul class="nav nav-list">
              <li class="nav-header">Tools</li>
              <li class="active"><a target="freeform" onclick='changeText("Your Notes")' href="http://willyou.typewith.me/p/{{myText}}">Your Notes</a></li>
		<!--<li><a target="freeform" onclick='changeText("Richie")' href="http://willyou.typewith.me/p/richielusdalasda">Richie</a></li>-->
		<!--<li><a target="freeform" onclick='changeText("Vaishaal")' href="http://willyou.typewith.me/p/sumukhlusdalasda">Sumukh</a></li>-->
		<li><a target="freeform" onclick='changeText("Whiteboard")' href="http://api.dabbleboard.com/api/iframe?dev_id=sumukh1&user_id=cs61&user_key=cs61&drawing_user_id=cs61&drawing_id=0&drawing_key=cs61&width=640&height=480">Whiteboard</a></li>
	    <li class="nav-header">Files</li>
		<!--<li><a target="freeform" onclick='changeText("CS61A P/S 1")' href="http://www-inst.eecs.berkeley.edu/~cs61a/sp12/hw/hw1.html">Problem Set 1</a></li>-->
		<!--<li><a target="freeform" onclick='changeText("SICP Ch. 1")' href="http://www-inst.eecs.berkeley.edu/~cs61a/sp12/book/functions.html">Textbook</a></li>-->
		{% for key,value in files.items %}
			<li><a target="freeform" onclick='changeText({{ key }})' href="{{ STATIC_URL }}Dropbox/Apps/Wing/{{ name }}/{{ key }}">{{ key }}</a></li>
		{% endfor %}


          <div id="myPublisherDiv"></div>
    <div id="test2"></div>

            </ul>

          </div><!--/.well -->

        </div><!--/span-->

        <div class="span9">

          <div class="row-fluid">
            <div class="span6">

              <h2><div id="freetitle">Your Workspace</div></h2>
              <iframe name="freeform" src="http://willyou.typewith.me/p/{{myText}}"  width="100%" height="600px" frameborder="0"></iframe>
            </div><!--/span-->
                        <div class="span6">
              <h2>The Group's Space</h2>
              <iframe src="http://willyou.typewith.me/p/{{groupText}}"  width="100%" height="600px" frameborder="0"></iframe>
            </div><!--/span-->

            </div><!--/span-->

          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

    </div>


<!-- Footer
================================================== -->

	</div> <!-- /.span9 -->
	</div> <!-- /.row-fluid -->
</body>
	<footer>
	<div class="footer">
			<hr class="soften">

			<div id="logo"> 
		<a href="/home/">&copy; <logo>Project Wing</logo> - The Big Hack - Cal</a>  
		</div> 
				<div id="Group2"><br> <a href="/home/privacy">Privacy </a>  |  <a href="#">Blog</a> 	</div>
</div>
	</footer>

</div> <!-- /.container-fluid -->

</div> <!-- the wrapper layer -->
	<!-- The javascript -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="/static/assets/js/bootstrap.collapse.js"></script>
	<script src="/static/assets/js/bootstrap-modal.js"></script>
	<script src="/static/assets/js/bootstrap-dropdown.js"></script>
	<script src="/static/assets/js/bootstrap-button.js"></script>
	<script src="/static/assets/js/bootstrap-tab.js"></script>
	<script src="/static/assets/js/bootstrap-alert.js"></script>
	<script src="/static/assets/js/bootstrap-scrollspy.js"></script>
	<script src="/static/assets/js/bootstrap-popover.js"></script>
	<script src="/static/assets/js/jquery.jigowatt.js"></script>

  </body>
</html>
